*{
    margin: 0;
    box-sizing: border-box;
}


body{
    margin: 0 auto;
    max-width: 1024px;
}

.container{
    margin: 0 auto;
    height:100vh;
}

.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
}

.red{
    background-color: red;
}